/* 隐藏垂直滚动条箭头 */
:global *::-webkit-scrollbar-button:vertical {
    display: none;
}

/* 隐藏水平滚动条箭头 */
:global *::-webkit-scrollbar-button:horizontal {
    display: none;
}
:global *::-webkit-scrollbar-track {
    border: 1px dotted #F5F5F5;
    background-color: black;
}

:global *::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
}

:global *::-webkit-scrollbar-thumb {
    background-color: #F5F5F5;
    cursor: pointer;

}
:global *::scrollbar-thumb {
    background-color: #F5F5F5;
    cursor: pointer;
}

:global .winform {
    width: 100%;
    height: 100%;
    background-color: #000;
    user-select: none;
    color: #fff;
    a {
        text-decoration-line: none;
        color: #fff;
    }

    .main {
        height: calc(100% - 50px);
        box-sizing: border-box;
        .htile {
            letter-spacing: 1px;
            height: 30px;
            line-height: 30px;
            font-size: 1rem;
        
        }
        
        .htopic {
            height: 70px;
            line-height: 40px;
            font-weight: 500;
            & div {
                letter-spacing: 2px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            
            &  div:nth-of-type(1) {
                float: left;
                width: calc(100% - 90px);
                font-size: 1.9rem;
            }
            
            &  div:nth-of-type(2) {
                float: right;
                width: 90px;
                font-size: 1.9rem;
                text-align: center;
            }
        } 

        .contentmain {
            height: calc(100% - 100px);
            position: relative;
            > ul {
                overflow: auto;
                position: absolute;
                width: 99%;
                height: 99%;   
            }
        }
    }
       
    @media (min-width: 100px) and (max-width:700px) {
        .main {
            padding: 1.5rem;
        }
    }
    
    @media (min-width: 701px) {
        .main {
            padding: 50px 200px 50px 200px;
        }
    }
    
    .footer {
        height: 50px;
        background-color: #212021;
        font-size: 1rem;
        color: #666966;
        span {
            color: #666966;
        }
        & > li:nth-of-type(1) {
            float: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
        }
        
        & > li:nth-of-type(2) {
            position: absolute;
            right: 0;
            width: 80px;
            height: 50px;
            cursor: pointer;
            text-align: center;
        }
    
        .ICP {
            text-align: center;
            line-height: 50px;
        }
    }

    .secondpage {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #000;
        width: 100%;
        height: calc(100% - 50px);
        .listsabout {
            font-size: 1rem;
        }
        
        .listsabout > li {
            color: #ddd;
            padding: 2px 0 5px 5px;
            letter-spacing: 2px;
            margin: 2px 0;
            line-height: 25px;
        }
        // .listsabout > li:not(:last-of-type) {
        //     border-bottom: 1px dotted #666966;
        // }
        .listsabout > li {
            border-bottom: 1px dotted #666966;
        }
    }
}

.titleGrey {
    color: #666966;
    font-size: 1.8rem;
}

.archiveList {
    padding: 3px;
    font-size: 1rem;
    // li:not(:last-of-type) {
    //     border-bottom: 1px dotted #666966;
    // }
    li {
        border-bottom: 1px dotted #666966;
    }
    li {
        margin-bottom: 10px;
        height: 50px;
        line-height: 50px;
        img {
            margin: 15px 0 0 15px;
            height: 20px;
        }
        & > div {
            color: #ddd;
            cursor: pointer;
        }
        & > div:nth-child(1) {
            width: calc(100% - 130px);
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            // color: #666966;

        }
        & > div:nth-child(3) {
            float: right;
            width: 80px;
            height: 50px;
            font-size: 0.8rem;
            text-align: right;
            // color: #666966;
        }
        & > div:nth-child(2) {
            float: right;
            width: 50px;
            height: 50px;
            img {
                margin: 17px 0 0 15px;
                height: 15px;
                
            }
            
        }
    }
}

.recentList {
    padding: 3px;
    font-size: 1rem;
    // li:not(:last-of-type) {
    //     border-bottom: 1px dotted #666966;
    // }
    li:not(:last-of-type) {
        border-bottom: 1px dotted #666966;
    }
    li {
        margin-bottom: 10px;
        height: 50px;
        line-height: 50px;
        & > div {
            color: #ddd;
        }
        & > div:nth-child(1) {
            display: inline-block;
            width: 30px;
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & > div:nth-child(2) {
            display: inline-block;
            width: 80%;
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }
        // & > div:nth-child(1) {
        //     // float: right;
        //     position: relative;
        //     top: -15px;
        //     display: inline-block;
        //     width: 50px;
        //     height: 50px;
        //     line-height: 50px;
        //     img {
        //         margin: 12px 0 0 12px;
        //         height: 25px;
        //     }
        //     cursor: pointer;
        // }
    }
}
.visibilityHidden {
    visibility: hidden;
}



